*{
    padding: 0%;
    margin:0%;

}


.mom{
    margin: 200px;
    padding: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
     

    background-color: aqua;
    animation: andria 6s ease-in-out infinite ;
}




@keyframes andria{
    0%{
        background-color: aqua;
    }
    50%{
        background-color: green;
    }

    100%{
        background-color: red;
    }
}